{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - La Boutique !
{% endblock %}

{% block content %}
	<h2>
		Erreur de paiement
	</h2>
	<p>Bonjour
		<strong>
			{{ order.user.firstName }}
			{{ order.user.lastName }},
		</strong>
		<br/><br/>
		Il semblerait que la commande
		<strong>
			{{order.reference}}
		</strong>
		ait echoué :
		<br/>
		Une confirmation d'erreur vient de vous étre envoyée par email à l'adresse :
		<strong>
			{{order.user.email}}
		</strong>
		<hr>
	</p>
	<hr>
	<p>
		<a href="{{ path('order') }} class=" btn btn-success"">
			Réessayer le paiement
		</a>
	</p>
{% endblock %}
