{% extends 'base.html.twig' %}


{% block title %}
	{{product.name}}
	- La boutique 100% écologique et 100% commerce équitable.
{% endblock %}

{% block content %}


	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<img src="/uploads/images/products/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-4 mx-auto">
			<h3>
				{{product.name}}
			</h3>
			<p>{{(product.price / 100)|number_format(2, ',', '.')}}€</p>
			<p>
				{{product.subtitle}}
			</p>
			<hr>
			<p>
				{{product.description}}
			</p>
			<hr>
			<a href="{{path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>

	<h3>
		Nos meilleurs ventes !
	</h3>
	<span>Décrouvez les articles les plus vendus.</span>
	<div class="row">
		{% for product in products %}
			<div class="col-md-4">
				{% include 'product/single_product.html.twig' %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
